/* .bigdiv {
  display: flex;
  width: 100%;
  
  margin: 1rem auto;
  padding: 0.25rem;
  border: 1px dotted rgb(17, 17, 57);
}
.bigDiv2{
   
    height: 100%;
    width: 100%;
    margin: 1rem auto;
  padding: 0.25rem;
  border: 2px solid rgb(216, 123, 8);
}

.threeCon {
  height: 100%;
 
  display: flex;
  justify-content: flex-start;
  align-items:flex-start ;
  flex-direction: column;
  border: 3px solid grey;
}
#amentItems {
}
.labelBar {

  width: 100%;
  height:20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-basis: 100%;
  border: 2px solid red;

  margin: 0 auto;
 
 
}
#typo {
  display: flex;
  justify-content: center;
  align-items: center;
 
  border: 2px solid green;
  width: 100%;
  flex-basis: 100%;
  height: 20%;
}
#bookButton {
  height: 100%;
  width:30%;
  

  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  flex-flow: column wrap;
  border: 2px solid black;
 
}

#ament {
 
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  flex-basis: 100%;
  border: 2px solid blue;
}
li {
  margin: 5px;
}
.searchCard {
  margin: 2rem auto;
} */
#cardImage {
  
  border: 2px solid rgb(230, 10, 197);
  /* height:50%; */
  /* position: absolute !important; */
    /* top: 10% !important */
    /* left: ' 0px !important', */
    flex-grow: 1;
    width:30%;
}
#threeCon {
  min-height: 100%;
  width:60%;
 
  display: flex;
  justify-content: flex-start;
  align-items:flex-start ;
  flex-flow: column wrap;
  border: 3px solid grey;
  flex-grow: 2;
}
.firstDiv { 
  flex-grow: 1;
  display:flex;
  justify-content:flex-start; 
  border: 3px solid green;
  width:100%;
  /* flex-basis: 10%; */
}
.secoundDiv{
  width:100%;
  flex-grow: 2;
  display:flex;
  /* flex-basis: 70%; */
  border: 3px solid red;
}
.secondDivList{
  flex-grow: 2;
  height:100%;
  width:100%;
  display:flex;
  justify-content:space-around ;
  align-items:flex-end;
  flex-wrap: wrap;
  align-content:flex-start;
  border: 3px solid red;
  
  list-style-type: none;
 
  
}
.thirdDiv { 
  flex-grow: 1;
  display:flex;
  justify-content:flex-start; 
  border: 3px solid pink;
  /* flex-basis: 20%; */
  width:100%;
}
#thirdDivOutside{
  width: 10%;
  border-bottom: 3px solid brown;
  flex-grow: 1;
  /* padding-left:5%; */
  /* position: relative;
  left:20%; */
   /* display: flex;
   justify-content: flex-end; */

}