.hotelpage-outerdiv{
    border: 2px solid darkgrey;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-right:2rem;
    padding-left:2rem;
    
    
   
}

.hotelPage-text{
    /* border: 1px solid red; */
    text-align: center;
    min-height: 5rem;
    margin:2rem auto;
    
}
h4{
    color:rgb(106, 101, 101);
    font-weight: 900;
}
.dateEdit{
    /* border: 1px solid black;  */
    margin-bottom: 0;
}
.dateEditPart1, .dateEditPart2{
display:flex;
justify-content: flex-end;
align-items: baseline;
align-content: flex-end;

   /* border: 1px dotted red; */
}
.dateEditPart1{
    max-height:1.4rem ;

}
.hotelAdress{
    min-width: 50%;
    /* border:1px solid green; */
}
.hotel-Name-Label-div {
    display:flex;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: baseline;
    /* margin: 5px; */
    /* background-color: teal; */
    max-width:100%;
    height:40%;
   
}
.hotel-Name-Label-div  p{
    font-weight:600;
    font-size: 1.3rem;
    
}
.address-div{
    /* background-color: thistle; */
    /* padding-top:15px; */
    max-width:100%;
    /* smargin: 5px; */
    display:flex;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: baseline;
    height:60%;
    
    
    }
.spaceMe{
    margin-right:10px;
}  
    
.TA-Div{
    /* border: 1px solid blue; */
   
    min-height:100%;
    display:flex;
/* justify-content: space-between; */
    flex-direction: row-reverse; 
    min-width: 50%;
    /* padding-right:10px; */
    /* background-color: turquoise; */
    max-width:50%;
}
#RatingText{
    font-weight:300;
    font-size: 1rem;
    
}


.Headline_TA-Wrapper{
    display:flex;
    justify-content: space-between;
 height: 6rem;
 /* border:4px solid red; */
}










.information-section{
    /* border: 2px solid blueviolet; */
}
.starRating-Reviews{
    /* border: 1px solid blue; */
}

.table-float{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    width:100%;
    min-width:100%;
}

.floatedInfo{
    /* border: 1px solid yellow; */
    /* float: right; */
    width: 20%;
    /* margin-left:2rem; */
    min-height: 100%;
}
.emptyDiv-Background{
    width:100%;
   height:56px;
    background-color: #0088BC;
    margin-bottom:1rem;
    margin-top:0;
  
    
}    
.tableAlone{
    /* border: 5px solid brown; */
    width: 80%;
}



/* styling the text inside the table */
#roomsInfo{
    font-weight:450;
    text-transform: capitalize;
    /* font-size:1.5rem; */
    
}
#freeCancel{
    color:#249D3C;
    font-weight:600;
}
#roomsName{
    font-size:1.3rem;
    font-weight:450;
    text-transform: capitalize;
}