.cartContainerDiv {
  width: 100%;
  border: 1px solid black;
  display: flex;
}
.CartSelectionSummary {
  width: 80%;
  height: 100%;
}
.cartPaymentSummary {
  width: 20%;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 1rem;
}
.hotelCheckoutCar {
  display: inline-flex;

  flex-flow: row;
  align-items: center;
  align-content: center;

  max-width: 290px;
  margin: 1rem;
}
.extraCheckoutCar {
  display: inline-flex;
  flex-direction: row;
  margin: 1rem;
  max-width: 290px;
}
