.SearchBar {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  width: 100%;
  margin: 0.5rem auto;
  border: 1px solid #d00088BC;
}
.SearchBarFilters {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 70%;
  margin: 0.5rem auto;
}


@media screen and (min-width: 456px) and (max-width: 479px) {
  /* start of phone styles */
  /* It's possible to hide the image if the screen becomes too small */
  .SearchBar {
    display:block;
    max-width:24rem;
    min-width:19.625rem;
    
  }
} 

@media only screen and (min-width: 200px) and (max-width: 455px) {
  /* ruleset for 480px - 600px */
  .SearchBar {
    display:block;
    width:17.875rem;
   
    /* background-color:yellow; */
    
    
  }
}