.SearchBar {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  width: 80%;
  margin: 0.5rem auto;
  border: 1px solid black;
}
.SearchBarFilters {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 70%;
  margin: 0.5rem auto;
}

