/* // NOTE: the order of these styles DO matter

// Will edit everything selected including everything between a range of dates */
/* .dateContainer{
    display:flex;
} */
.CalendarDay__selected_span {
  background:#FF8B00; 
  color: white; /*//text*/
  border: 1px solid#0088BC; /*default styles include a border*/
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background:#0088BC;
  color: white;
}
/* 
// Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}
/* 
// Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background:#FF8B00;
}

.DateRangePickerInput, .DateRangePickerInput_1, .DateRangePickerInput__withBorder, .DateRangePickerInput__withBorder_2{
  display:flex !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.DateRangePickerInput, .DateRangePickerInput_1{
  display:flex !important;
  justify-content: flex-start !important;

}

@media screen and (max-width: 992px) {
  /* start of large tablet styles */

.DateRangePickerInput, .DateRangePickerInput_1,.DateRangePickerInput__withBorder, .DateRangePickerInput__withBorder_2{
  display:flex !important;
  justify-content: flex-start !important;
  width:173px;
  max-width: 173px;
  height:auto;
    flex-shrink: 1;
    /* font-size:9px !important; */
    line-height: 10px;
}
  
  .DateInput, .DateInput_1,.DateInput_input__regular, .DateInput_input__regular_2 {
width: 86.5px !important;
height:auto;
flex-shrink:1;
font-size:10px;
font-weight:600;
line-height: 10px !important;
 
  }
  .DateRangePickerInput_arrow_svg, .DateRangePickerInput_arrow_svg_1{
    width: 18px !important;
    height: 24px !important;
  }
  .DateRangePickerInput_arrow, .DateRangePickerInput_arrow_1{
    /* something here  */
  }
 
}
@media only screen and (max-width: 767px) {
  .DateRangePickerInput, .DateRangePickerInput_1, .DateRangePickerInput__withBorder, .DateRangePickerInput__withBorder_2{
    display:flex !important;
    justify-content: flex-start !important;
    width:115px !important;
    max-width: 115px;
    /* flex-wrap: nowrap; */
    height:auto;
    line-height: 8px;
    flex-shrink:1;
    font-size:8px !important;
  }
 
  .DateInput, .DateInput_1, .DateInput_input__regular, .DateInput_input__regular_2 {
    width: 57.5px !important;
    height:auto;
    flex-shrink:1;
    font-size:8px !important;
    line-height: 10px !important;
    font-weight:600;
   
      }
      .DateRangePickerInput_arrow, .DateRangePickerInput_arrow_1, .DateRangePickerInput_arrow_svg, .DateRangePickerInput_arrow_svg_1{
        font-size:8px !important;
        display:flex !important;
        width:20px !important;
      }

}
