img {
  object-fit: cover;
  width: 100% !important;
}
@media screen and (max-width: 928px) {
  /* start of large tablet styles */
  img {
    display: block;
    height: 50% !important;
    object-fit: contain;
  }
}
