.carousel-item, .caro {
   
    /* height:100% !important; */
     
  
      /* width: 100% !important;
      height: 100% !important; */
     
     /* 
     width: 100% !important;
     object-fit: cover !important; 
     max-height:16rem !important;
     margin:0  ; 
     width: 100% ;   */
     
 }
/* .d-block w-100{
   
    object-fit: cover !important;
    
}  */
img {
    object-fit: cover;
     width: 100% !important;
    /* height: auto !important; */
  
  

}
@media screen and (max-width: 928px) {
    /* start of large tablet styles */
    img {
      display:block;
      height: 50% !important;
      object-fit: contain;

      
      /* flex-flow: column wrap;
      align-content:flex-start; */
    }
    .carousel-item, .caro {
        height: 50% !important;
    }
    
  }
     
     

/* @media only screen and (max-width: 959px) {} */

/* Tablet Portrait size to standard 960 (devices and browsers) */
/* @media only screen and (min-width: 768px) and (max-width: 959px) {} */

/* All Mobile Sizes (devices and browser) */
/* @media only screen and (max-width: 767px) {} */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {} */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* @media only screen and (max-width: 479px) {} */