.searchCard {
  margin: 0.2rem;
}
#firstDiv {
  max-width: 30%;

  margin-right: 1rem;
}
#secoundDivWrraper {
  min-height: 100%;
  max-width: 50%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;

  flex-grow: 2;
}
.firstDiv {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;

  width: 100%;
  text-transform: capitalize;
}
.secoundDiv {
  width: 100%;
  flex-grow: 2;
  display: flex;
}
.secondDivList {
  flex-grow: 2;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;

  list-style-type: none;
}
li {
  margin: 5px;
  color: grey;
}
.thirdDivInner {
  display: flex;
  justify-content: flex-start;

  text-transform: capitalize;
  margin-bottom: 0px;
  margin-top: 5px;

  width: 100%;
}
.thirdDivInner p {
  margin-bottom: 0px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

#thirdDivOutside {
  max-width: 20%;

  flex-grow: 1;
  margin-right: 0;
}

/* carousel for search results  */
.outer-wrapper {
  display: inline-block;
  margin-top: 0;
  margin-left: 2rem;

  overflow: hidden;
}
.frame {
  width: 18.75rem;
  height: 12.5rem;
  margin-top: 0;

  vertical-align: top;
  text-align: center;
  display: table-cell;
  overflow: hidden;
  object-fit: fill;
  border-radius: 10px;
}
#caroImage {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}

.outer-wrapper-hotelpage {
  display: flex;
  justify-content: center;

  min-width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  height: 650px;

  max-height: 700px;
  overflow: hidden;
}
.frame-hotelpage {
  width: 100%;

  height: 650px !important;
  max-height: 700px !important;

  overflow: hidden;

  vertical-align: top;
  display: table-cell;
  overflow: hidden;

  border-radius: 10px;
}
/* drop down sort */
.dropdown-item {
  color: whitesmoke;
}
