/* search bar css styling  */
.searchBar-outerDiv{
  display:flex;
  align-items:center;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* border: 1px solid green; */

}
.SearchBar {
  display: flex; 
  justify-content: center; 
  align-items:flex-end;  
  width: 100%;
  margin: 1rem ;
  /* border: 1px solid #d00088BC; */
  height:52px
}

.searchBar-searchField{
  /* max-width:40%; */
  /* border: 1px solid rgb(94, 14, 83); */
  margin:1 auto;
  flex-basis:40% ;
}
.searchBar-datePicker{
  /* max-width:30%; */
  /* border: 1px solid blue; */
  /* margin:1 auto; */
  flex-basis:36%;
  display:flex;
}
.searchBar-occSelector{
  /* max-width:20%; */
  /* border: 1px solid red; */
  min-height:100%;
  
  display: flex;
  align-items: flex-end;
  margin-left:1px;
  margin-right:0px;
  
  
  flex-basis:16% ;
}
.searchBar-occSelector2{
  /* max-width:10%; */
  /* border: 1px solid red; */
  /* height:48px; */
}
.searchBar-Button{
  /* width:10%; */
  /* border: 1px solid rgb(7, 125, 87); */
 
  flex-basis:10% ;
}

.SearchBarFilters {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 70%;
  margin: 0.5rem auto;
}

@media screen and (max-width: 835px) {
  /* first break with sizes  */
  .SearchBar {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    /* margin: 1rem ; */
    /* border: 1px solid #d00088BC; */
       /* height:52px */
       height:100%
  }
  .searchBar-searchField, .searchBar-datePicker, .searchBar-Button{
    width:100%;
    max-width:688px;
  }
  .extraDiv{
    width: 73%;
    /* border: 1px solid green; */
  }
  .searchBar-occSelector2, .searchBar-occSelector{
    max-width:200px;
    /* border: 1px solid red; */
  }
}
/* button */
/* height: screenWidth <= 992 ? 36 : 48; */
/*  first point of break for the occ slector it goes down to 52,8 width, that's 60% */
/* first point of break of search filed goes down to 219,72 width, that's 60% */
/* first point to the button and everything else except datepicker it needs to go down to 34 height */
/*  first point of break is at 992 where all the above applies   */
/* secound point to be determind after first point is done but around 770  */


/* first breaking point  */
 /* @media screen and (max-width: 992px) {
   first break with butto  
  .searchBar-Button{
     width:10%; 
    border: 1px solid rgb(7, 125, 87); 
  
       height: 36;
    flex-basis:10% ; 
  }


}  */


/* /* @media screen and (min-width: 456px) and (max-width: 479px) {
  /* start of phone styles */
  /* It's possible to hide the image if the screen becomes too small */
  /* .SearchBar {
    display:block;
    max-width:24rem;
    min-width:19.625rem;
    
  }
}  

@media only screen and (min-width: 200px) and (max-width: 455px) {
  /* ruleset for 480px - 600px */
  /* .SearchBar {
    display:block;
    width:17.875rem;
   
    /* background-color:yellow; */
    
    
  /* } */
/* }   */ 